.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.header__left {
	flex: .5;
	min-width: 70px;
  background-color: #fff;
  color: grey;
  border-radius: 30px;
  display: flex;
	align-items: center;
  padding: 10px;
  overflow: hidden;
}

.header__left > input {
  border: none;
	width: 100%;
	margin-left: 5px;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__right > h4 {
  margin-left: 10px;
}
